.ContainerFavorites{
  padding: 5rem 13vw 0vw 13vw;
}
.ContainerFavorites h1{
  color: #91BBF2;
}
.ContainerFavorites p{
  color: white;
  font-size: 12px;
}
.ContainerFavorites .ContainerFilms{
  padding-top: 3rem;
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(6,1fr);
}
.ContainerFavorites .ContainerFilms div{
  background-color: red;
  height: 10rem;
  width: 8rem;
}